<%# <h1>Home Page</h1> %>
<%= stylesheet_pack_tag 'homepage', 'data-turbolinks-track': 'reload'  %>
<%= react_component("NavBar", 
					props: {member: Member.where({id: session[:member_id]}), page: "SCEC Portal"} )%>

<h6>You're logged in! Welcome to the Member Dashboard!</h6>
<%= link_to "Sign Out", destroy_member_session_path %>

<%= link_to 'View Attendance', attendances_url %>
<%= link_to 'View Events', events_url %>
<%= link_to 'View Members', members_url %>
<%= link_to 'View Feedbacks', feedbacks_url %>
<%= link_to 'View my profile', member_path(@member[:id])%>

<%= react_component("GoogleCalendar")  %>


