<p id="notice"><%= notice %></p>

<%= link_to 'Home', root_path %>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Event Title</th>
      <th>Event Start Date</th>
      <th>Event End Date</th>
      <th>Event Description</th>
      <th>Event Location</th>
      <th>Event Ratings</th>
      
      <th colspan="2">Actions</th>
      
      <th colspan="3">Admin Options</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.title, attendances_path(:title => @events.find(event.id).title) %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= "event.avg_rating" %></td>
        
        <td><%= link_to (Attendance.find_by({member_id: session[:member_id], event_id: event.id, rsvp: true}) ? 'Cancel RSVP' : 'RSVP'), new_attendance_path({event_id: event.id, rsvp: true}) %></td> 
        
        <td><%= link_to 'Mark Attendance', new_attendance_path({event_id: event.id, mark: true})%></td>
        
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
