<%= form_with(model: [@event, feedback], local: true) do |form| %>
  <div class="field">
    <%= form.hidden_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :event_review %>
    <%= form.text_field :event_review %>
  </div>

  <div class="field">
    <%= form.label :event_rating_score %>
    <%= form.text_field :event_rating_score %>
  </div>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
