<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2> Would you like to mark your attendance for the following event? </h2>
  <h3>Event Name: <%= Event.find(attendance.event_id).title %> </h3>
  <div class="fields">
    <%= form.hidden_field :member_id %>
    <%= form.hidden_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit "Yes" %>
    <%= link_to "No", events_path %>
  </div>
<% end %>
