<%= error_messages_for(f.object) %>

<table summary="Member form fields">
  <tr>
    <th>First Name</th>
    <td><%= f.text_field(:first_name, :readonly=>true) %> </td>
    <th> Last Name </th>
    <td> <%= f.text_field(:last_name, :readonly=>true) %> </td>
    <th> Email </th>
    <td> <%= f.text_field(:email, :readonly=>true) %> </td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_field(:description) %></td>
  </tr>
  <tr>
    <th>Admin</th>
    <td><%= f.check_box(:admin) %></td>
  </tr>
  <tr>
    <th>Paid dues</th>
    <td><%= f.check_box(:paid_dues, :readonly=>true) %></td>
  </tr>
  <tr>
    <th>Attendance</th>
    <td><%= f.text_field(:total_attendance, :readonly=>true) %></td>
  </tr>
</table>
