<%= link_to("<< Back to Home", root_path, :class => 'back-link') %>

<h1> <%= @member.first_name %> <%= @member.last_name %> </h1>
<h2> Email: <%= @member.email %> </h2>
<h3> About Me: </h3>
<p> <%= @member.description %> </p>
